@import '../styles/variables';
@import '../styles/mixins';

.page {
  &__container {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title;
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 0 0 15px;

    @media screen and (min-width: 768px) {
      margin: 0 0 30px;
    }

    @keyframes flickerSCSS {
      0%,
      18%,
      22%,
      25%,
      53%,
      57%,
      100% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px $tint-color-1-neon,
          0 0 42px $tint-color-1-neon,
          0 0 82px $tint-color-1-neon,
          0 0 92px $tint-color-1-neon;
      }
      20%,
      24%,
      55% {
        text-shadow: none;
      }
    }

    @keyframes flickerCSS {
      0%,
      18%,
      22%,
      25%,
      53%,
      57%,
      100% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px $tint-color-2-neon,
          0 0 42px $tint-color-2-neon,
          0 0 82px $tint-color-2-neon,
          0 0 92px $tint-color-2-neon;
      }
      20%,
      24%,
      55% {
        text-shadow: none;
      }
    }

    span {
      &:first-of-type {
        color: $tint-color-1-neon;
        animation: flickerSCSS 1.5s infinite alternate;
      }
      &:last-of-type {
        color: $tint-color-2-neon;
        animation: flickerCSS 2s infinite alternate;
      }
    }
  }
}
