$primary-color: #011627;
$secondary-color: #ccd6f6;
$alt-color: #8892b0;
$tint-color-1: #cc6699;
$tint-color-1-neon: #ea4396;
$tint-color-2: #569cd6;
$tint-color-2-neon: #06b2f1;

$font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
$font-sans:
  'Calibre',
  'Inter',
  'San Francisco',
  'SF Pro Text',
  -apple-system,
  system-ui,
  sans-serif;

$animation: cubic-bezier(0.55, -0.19, 0.59, 1.45);
$animation-2: cubic-bezier(0.55, -0.19, 0.59, 0.95);
